### läs in o manipulera data med pandas

filen som skall användas heter order_lists.json

In [43]:
import pandas as pd

# läs in JSON-file

df = pd.read_json("orders_list_with_date.json")

df.head()

,customer_id,product,quantity,price,seller_id,city,order_date
0,C010,printer,4,72.38,S117,Dallas,2024-06-29
1,C018,webcam,3,513.74,S113,Chicago,2024-08-18
2,C008,headphones,1,802.20,S103,San Antonio,2024-02-02
3,C001,headphones,5,1202.27,S119,San Antonio,2024-06-03
4,C008,printer,2,44.69,S116,New York,2024-09-24

lista alla produkter i filen

In [44]:
# snyggt om man vill visa stakeholder alla unika produkter som finns 

df_unique =  pd.DataFrame(df["product"].unique(), columns=["product"])
display(df_unique.style.hide(axis="index"))

In [45]:
# unique metoden används för att lista unika produkter och tolist() används för att lista dom under varandra
df["product"].unique().tolist()

['printer',
 'webcam',
 'headphones',
 'tablet',
 'mouse',
 'router',
 'monitor',
 'speaker',
 'laptop',
 'keyboard']

## Räkna ut den totala föräljningen för laptops

#### Börja med att lista alla ordrar för laptops

In [ ]:
# visa alla rader med produkt typ laptop och spara dom i en ny dataframe med metoden .copy()
# detta medföra att laptops_df blir en egen datafram inte en vy.

laptops_df = df[df["product"] == "laptop"].copy()

laptops_df

   customer_id product  quantity    price seller_id         city  order_date
20        C008  laptop         4  1426.13      S104      Chicago  2024-10-08
21        C011  laptop         5    91.49      S109      Houston  2024-08-01
31        C003  laptop         2  1443.59      S102  Los Angeles  2024-08-11
33        C014  laptop         4   270.50      S104       Dallas  2024-03-14
40        C016  laptop         4   634.52      S119      Houston  2024-12-02
50        C017  laptop         4   670.34      S117      Phoenix  2024-11-23
67        C006  laptop         5  1441.03      S102     New York  2024-02-23
78        C018  laptop         5  1134.18      S110  Los Angeles  2024-11-25
83        C007  laptop         4  1054.58      S102     New York  2024-08-28
96        C017  laptop         4  1074.67      S109  San Antonio  2024-10-16

#### Räkna den totala försäljningen av laptops

In [64]:

# börjar med att lägga till en ny kolumn med total per order

laptops_df["total"] = laptops_df["price"] * laptops_df["quantity"]

total_sale_laptop = laptops_df["total"].sum()

print(f"Total laptops sale ${total_sale_laptop:,.2f}")

Total laptops sale $36,743.64

#### Räkna laptops försäljning per stad

count tablet per city

#### show the 4 best city with highest revenue